/venv/
/App/static/bootstrap/
/App/static/bootstrap-colorpicker/
/App/static/bootstrap-datepicker/
/App/static/bootstrap-daterangepicker/
/App/static/bootstrap-slider/
/App/static/bootstrap-timepicker/
/App/static/bootstrapvalidator/
/App/static/ckeditor/
/App/static/bootstrap/
/App/static/mocha/
/App/static/moment/
/App/static/morris.js/
/App/static/PACE/
/App/static/raphael/
/App/static/select2/
/App/static/uploads/
/App/static/mocha/
/App/static/moment/
/App/static/morris.js/
/App/static/PACE/
/App/static/raphael/
/App/static/select2/
/App/static/uploads/
/App/static/inputmask/
/App/static/ion.rangeSlider/
/App/static/Ionicons/
/App/static/jquery/
/App/static/jquery-knob/
/App/static/jquery-slimscroll/
/App/static/jquery-sparkline/
/App/static/jquery-ui/
/App/static/echarts/
/App/static/eve-raphael/
/App/static/fastclick/
/App/static/Flot/
/App/static/font-awesome/
/App/static/fullcalendar/
