<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
</head>

<title>Camera</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<center><h1>Camera</h1></center>
<div class="top">
    <div class="recorder" id="recorder" align="center">
        <button id="record" class="btn">Record</button>
        <button id="stop" class="btn">Stop</button>
        <a id="download"></a>
        <script type="text/javascript" src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    </div>
</div>
<div style="text-align: center;" id="msg"></div>
<div style="text-align: center;"><img width="640" height="480" id="video" src="{{ url_for('surveillanceblue.streaming') }}"></div>

</body>
</html>

